/* Carousel */
.carousel {
  display: flex;
  overflow: hidden;
  position: relative;
  padding: 2rem;
  background-color: #1053F3;
  width: 100%;
}

.carousel-images {
  display: flex;
  gap: 10rem;
  animation: scroll 20s linear infinite;
}

.carousel .logo {
  object-fit: contain;
  cursor: pointer;
  min-height: 10rem;
  max-height: 10rem;
  max-width: 10rem;
  border-radius: 0.25rem;
  filter: grayscale(100%);
}

@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(calc(-10rem * 16));
  }
}

/* Responsive */
@media (max-width: 768px) {
.carousel {
  padding: 0;
}
}
